/*========== breakpoint ==========*/
$laptop: 1150px;
$table-xs: 768px;
$table: 576px;
$mobile: 320px;

@mixin laptop {
  @media screen and (max-width: $laptop) {
    @content;
  }
}

@mixin laptop-above {
  @media screen and (min-width: $laptop) {
    @content;
  }  
}

@mixin table-xs {
  @media screen and (max-width: $table-xs) {
    @content;
  }
}

@mixin table-xs-above {
  @media screen and (min-width: $table-xs) {
    @content;
  }  
}

@mixin table {
  @media screen and (max-width: $table) {
    @content;
  }
}

@mixin table-above {
  @media screen and (min-width: $table) {
    @content;
  }  
}

@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}

@mixin mobile-above {
  @media screen and (min-width: $mobile) {
    @content;
  }  
}

@media screen and (min-width: $laptop) {
  :root {
    --biggest-font-size: 4.25rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}