.new-card {
  position: relative;
  width: 200px;
  background-color: var(--gradient-card);
  padding: 9rem 0.75rem 1.5rem 0.75rem;
  border: 2px solid var(--first-color-light);
  border-radius: 1.5rem;

  &:nth-child(even) {
    @include table-xs-above {
      transform: translateY(10rem);
    }
  }
  
  &:nth-child(odd) {
    rotate: -5deg;
  }

  &:nth-child(even) {
    justify-self: flex-end;
    rotate: 5deg;
  }

  @include hover {
    .new-card__img {
      transform: translateY(-.5rem);
    }
  }

  // .new-card__img

  &__img {
    position: absolute;
    top: -4.5rem;
    left: 0;
    right: 0;
    width: 180px;
    margin: 0 auto;
    transition: transform .4s;
  }

  // .new-card__title

  &__title {
    font-size: var(--h2-font-size);
    text-align: center;

    @include laptop-above {
      font-size: var(--h3-font-size);
    }
  }
}