.ri-cactus-line {
  color: var(--first-color);
  font-size: 1.25rem;
  font-weight: initial;
}
.ri-close-line {
}
.ri-user-line {
}
.ri-shopping-cart-line {
}
.ri-menu-line {
}
.ri-arrow-right-line{
}
.ri-shopping-bag-line {
}
.ri-checkbox-fill {
}
.ri-whatsapp-line {
}
.ri-messenger-line {
}
.ri-mail-line {
}
.ri-cactus-line {
}
.ri-facebook-line {
}
.ri-instagram-line {
}
.ri-twitter-x-line {
}