.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--container-color);
  color: var(--title-color);
  box-shadow: 0 12px 24px rgba(5, 7, 15, 0.5);
  display: inline-flex;
  padding: 6px;
  font-size: 1.25rem;
  z-index: var(--z-tooltip);
  transition: bottom .4s, transform .4s;

  @include hover {
    transform:  translateY(-0.5rem);
  }
}

.show-scroll {
  bottom: 3rem;
}